.topic q {
  margin-bottom: 60px;
  font-size: 70px;
}

#intro div {
  margin-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-bottom-width: 1px;
  font-size: 30px;
}

.multi {
  font-size: 40px;
  font-family: sans-serif;
}

.one {
  font-size: 70px;
  font-family: sans-serif;
}

.one div {
  margin-bottom: 20px;
}

.big-pic {
  display: block;
  max-width: 600px;
  max-height: 600px;
  width: auto;
  height: auto;
}

.round-1 .title {
  font-size: 40px; 
  font-family: sans-serif;
  margin-bottom: 35px;
}

.round-1 .problem {
  font-size: 25px;
  font-family: serif;
  width: 60%;
  float: left;
}

.round-1 .problem p {
  margin-bottom: 20px;
}

.round-1 .mapping-table {
  float: right;
}

.round-1 .rules ul li {
  margin: 30px;
  font-family: serif;
  font-size: 25px;
}

.java {
  font-size: 11px;
  font-family: monospace;
}

.prolog {
  font-size: 11px;
  font-family: monospace;
}

#comparison .java {
  color: red;
  font-size: 70px;
  font-family: sans-serif;
  margin-right: 20px;
}

#comparison .prolog {
  font-size: 70px;
  font-family: sans-serif;
  margin-left: 20px;
}

.terraform {
  font-size: 11px;
  font-family: monospace;
}

.terraform-sample pre {
  margin-right: 30px;
}

#why-language-matters .language {
  float: right;
  margin-top: 25px;
  margin-right: 100px;
  font-size: 25px;
  font-family: sans-serif;
}

#why-language-matters .tool {
  float: right;
  margin-top: 60px;
  margin-right: 100px;
  font-size: 25px;
  font-family: sans-serif;
}

#why-language-matters .practice {
  float: right;
  margin-top: 75px;
  margin-right: -60px;
  font-size: 25px;
  font-family: sans-serif;
}

#why-language-matters .challenge {
  float: right;
  margin-top: 70px;
  margin-right: -130px;
  font-size: 25px;
  font-family: sans-serif;
}

#dogfooding {
  font-size: 20px;
  margin-top: 20px;
}

#dogfooding td {
  border-style: solid;
  border-width: 1px;
  padding: 15px;
}

#dogfooding .task {

}

#dogfooding .languages {
  font-family: sans-serif;  
}